::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fond.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

table 
{
    border-collapse: collapse;
    margin: 0px 10px;
}

caption
{
    color: white;
    font-size: 3em;
    text-align: left;
    margin-bottom: 5px;
}

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    width: 150px;
    height: 120px;
    text-align: center;
    font-size: 2em;
}

td:hover
{
    cursor: pointer;
}

a
{
    color: white;
    text-decoration: none;
}

.text1
{
    color: white;
    font-size: 2.5em;
}

.blanc
{
   text-decoration: underline; 
}

.vert
{
    color: green;
    text-decoration: underline;
}

.rouge
{
    color: red;
    text-decoration: underline;
}

#retour
{
    width: 50%;
    height: 35px;
    outline: none;
    border-radius: 100px;
    border: none;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(-45deg, rgb(214, 118, 7),rgb(194, 134, 65));
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 50px;
}
