::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("fond.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

table 
{
    border-collapse: collapse;
    margin: 0px 10px;
}

caption
{
    color: white;
    font-size: 3em;
    text-align: left;
    margin-bottom: 5px;
}

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    width: 150px;
    height: 120px;
    text-align: center;
    font-size: 2em;
}

td:hover
{
    cursor: pointer;
}
